<mat-card class="m-5" appHighlight>
    <mat-card-header>

      <mat-card-title>
        <h1 class="text-xl">{{cartItem.brand}}</h1>
      </mat-card-title>

      <mat-card-subtitle>
        <p>{{cartItem.category}}</p>
      </mat-card-subtitle>

      <button mat-card-avatar>
        <mat-icon>
          laptop_windows
        </mat-icon>
      </button>

    </mat-card-header>

    <mat-card-content class="my-5">
        <p>Model: {{cartItem.model}}</p>
        <p>Price: {{cartItem.price | currency}}</p>
    </mat-card-content>

    <div class="flex flex-col items-center">

      <h3 class="text-center text-xl">Quantity:</h3>

      <div class="flex flex-row justify-between w-5/6">
        <button 
          mat-mini-fab 
          color="basic"
          (click)="onQuantityDecrease()"
          [disabled]="cartItem.quantity < 2"
          >

          <mat-icon>
            remove
          </mat-icon>
        </button>

        <p class="text-xl font-black mx-3">
          {{cartItem.quantity}}
        </p>

        <button 
          mat-mini-fab 
          color="basic"
          (click)="onQuantityIncrease()"
          >

          <mat-icon>
            add
          </mat-icon>
        </button>
      </div>

      <button 
        mat-mini-fab
        color="warn"
        class="mt-3"
        (click)="onDeleteItem()"
        >

        <mat-icon>
          delete
        </mat-icon>
      </button>

    </div>
  </mat-card>