<div *ngIf="cartItems.length; else empthyCart">
    <h2 class="text-center text-xl font-bold mt-4">Cart</h2>

    <ol class="flex justify-evenly flex-wrap my-5">
        <li *ngFor="let item of cartItems; trackBy: trackByItems" class="basis-1/5">
            <app-cart-item
                [cartItem]="item"
                (deleteItem)="onDeleteItem($event)"
                (quantityIncrease)="onQuantityIncrease($event)"
                (quantityDecrease)="onQuantityDecrease($event)"
            ></app-cart-item>
        </li>
    </ol>

    <div class="text-right mr-5">
        <button 
            class="my-3" 
            mat-fab color="warn" 
            matTooltip="Remove all"
            (click)="openDialog()">

            <mat-icon>
                delete_forever
            </mat-icon>
        </button>

        <p>Total Cost: {{cartService.totalCost | currency}}</p>
        <p>Total Quantity: {{cartService.totalQuantity}}</p>
    </div>
</div>

<ng-template #empthyCart>
    <p class="text-center text-xl font-bold mt-4">Your cart is empty!</p>
</ng-template>

<div class="absolute left-2 top-2">
    <button
        mat-mini-fab
        color="primary"
        routerLink="/products">
        
        <mat-icon>
            arrow_back
        </mat-icon>
    </button>
</div>