<mat-card class="m-5 transition-all" (click)="onClick()">
  <mat-card-header class="justify-between">
    <mat-card-title>
      <h2>{{product.brand}}</h2>
    </mat-card-title>

    <mat-card-subtitle>
      <p>{{product.category}}</p>
    </mat-card-subtitle>

    <div [matTooltip]="getTooltip()">
      <button [appClick]="!product.isInCart" mat-fab color="primary" class="w-full"
        [disabled]="!product.isAvailable || product.isInCart" (click)="onAddToCart()">

        <mat-icon>
          add_shopping_cart
        </mat-icon>

      </button>
    </div>
  </mat-card-header>

  <mat-card-content class="my-5 flex justify-between">
    <div class="flex justify-between items-center">
      <div>
        <p>Model: {{product.model}}</p>
        <p class="mt-2">Price: {{product.price | currency}}</p>
      </div>

      <button *ngIf="showDeleteButton" [appClick]="product.isInCart" mat-mini-fab color="warn"
        (click)="onDeleteFromCart()">

        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>